@model DEPI_Graduation_Project.Models.Product

@{
    ViewData["Title"] = "Details";
}


<div class="p-3">
    <h1>Product Details</h1>
    <hr />
    <form class="p-5 shadow rounded bg-light">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Product Name</label>
            <input asp-for="Name" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea class="form-control"
                      style="overflow:hidden; resize:none; height:auto;"
                      oninput="this.style.height='auto';this.style.height=this.scrollHeight + 'px';"
                      placeholder="Enter product description"
                      rows="4"
                      required
                      readonly
                asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Category" class="control-label">Category</label>
            <input asp-for="Category" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Price</label>
            <input asp-for="Price" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="StockQuantity" class="control-label">Stock Quantity</label>
            <input asp-for="StockQuantity" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label">Image URL</label>
            <input asp-for="Image" class="form-control" readonly />
        </div>

        <div class="form-group text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">Edit</a>
            <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Back to List</a>
        </div>
    </form>
</div>
